node_modules
.env
docker_data/
.DS_Store
.idea
/.vscode
.history
migrations/
editors/vscode/syntaxes/
editors/vscode/language-configuration.json
editors/vscode/out/
editors/vscode/server/
editors/language-server/out/
editors/vscode/*.vsix